<table class="table table-sm table-hover border-bottom mt-5">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">CreatedBy</th>
            <th scope="col">LastModifiedBy</th>
        </tr>
    </thead>
    <tbody>
        {{#each authorities}}
        <tr>
            <th scope="row">{{rownum @index @root.currentPage}}</th>
            <td>{{this.name}}</td>
            <td>{{this.createdBy}}</td>
            <td>{{this.lastModifiedBy}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <nav aria-label="Page navigation example" class="d-inline-block">
            <ul class="pagination">
                <li class="page-item {{addClass hasPrevious '' 'disabled'}}">
                    <a class="page-link" href="{{{previousUrl}}}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item {{addClass hasNext '' 'disabled'}}">
                    <a class="page-link" href="{{{nextUrl}}}">Next</a>
                </li>
            </ul>
        </nav>
        <div class="d-inline-block ml-3">Page {{add currentPage 1}} of {{totalPage}}</div>
    </div>
</div>